BlueSherpa
alfred
atomic
beets
btop
containers
fish
flutter
gatsby
gcloud
gh
ghostty
github-copilot
glab-cli
go
htop
iterm2
nvim.bak
raycast
thefuck
zed
nushell/history.txt
uv
tmux/plugins
.stfolder
.DS_Store
*sync-conflict*
