[submodule "nvim"]
	path = nvim
	url = https://github.com/gcarrarom/nvim
[submodule "nushell/modules/fancynuman"]
	path = nushell/modules/fancynuman
	url = https://github.com/fancy-whale/fancynuman.git
[submodule "nushell/modules/nuguish"]
	path = nushell/modules/nuguish
	url = https://github.com/gcarrarom/nuguish.git
[submodule "nushell/scripts/NuAliasTips"]
	path = nushell/scripts/nualiastips
	url = https://github.com/fancy-whale/NuAliasTips.git
[submodule "nushell/scripts/nuenv"]
	path = nushell/scripts/nuenv
	url = https://github.com/fancy-whale/nuenv.git
[submodule "nushell/scripts/nupdater"]
	path = nushell/scripts/nupdater
	url = https://github.com/fancy-whale/nupdater.git
