[submodule "nvim"]
	path = nvim
	url = ssh://git@github.com:gcarrarom/guivim.git
[submodule "nushell/modules/fancynuman"]
	path = nushell/modules/fancynuman
	url = ssh://git@github.com:fancy-whale/fancynuman.git
[submodule "nushell/modules/nuguish"]
	path = nushell/modules/nuguish
	url = ssh://git@github.com:gcarrarom/nuguish.git
[submodule "nushell/scripts/NuAliasTips"]
	path = nushell/scripts/nualiastips
	url = ssh://git@github.com:fancy-whale/NuAliasTips.git
[submodule "nushell/scripts/nuenv"]
	path = nushell/scripts/nuenv
	url = ssh://git@github.com:fancy-whale/nuenv.git
[submodule "nushell/scripts/nupdater"]
	path = nushell/scripts/nupdater
	url = ssh://git@github.com:fancy-whale/nupdater.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
